<?xml version="1.0" encoding="UTF8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.dao.Book.BookMapper">

    <sql id="if-Id-Name-Counts">
        <if test="bookId != null">
            bookId=#{bookId}
        </if>
        <if test="bookName != null">
            bookName=#{bookName}
        </if>
        <if test="sales != null">
            sales=#{sales}
        </if>
    </sql>

<!--   1.查询书 -->
    <select id="QueryBooks" parameterType="map" resultType="book">
        select * from ssmbuild.books
        <where>
            <if test="bookId != null">
                and bookId = #{bookId}
            </if>
            <if test="bookName != null">
                and bookName like "%"#{bookName}"%"
            </if>
            <if test="sales != null">
                and sales=#{sales}
            </if>
            <if test="detail !=null">
                and detail like "%"#{detail}"%"
            </if>
        </where>
    </select>

<!--    2.添加一本书-->
    <insert id="AddBook" parameterType="book">
        insert into ssmbuild.books value ( null ,#{bookName},#{sales} ,#{detail},#{price});
    </insert>

<!--    3.删除一本书-->
    <delete id="DeleteBook" parameterType="map">
        delete from ssmbuild.books
        <where>
            <include refid="if-Id-Name-Counts"></include>
        </where>
    </delete>

<!--    4.更新一本书-->
    <update id="UpdataBook" parameterType="book">
        update ssmbuild.books
        set bookId=#{bookId},bookName=#{bookName},sales=#{sales},detail=#{detail},price=#{price}
        where bookId=#{bookId}
    </update>


</mapper>
